# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Dart files
[*.dart]
indent_size = 2
max_line_length = 120

# Python files
[*.py]
indent_size = 4
max_line_length = 88

# JavaScript/TypeScript files
[*.{js,jsx,ts,tsx}]
indent_size = 2
max_line_length = 100

# JSON files
[*.{json,jsonc}]
indent_size = 2

# YAML files
[*.{yaml,yml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 120

# Shell scripts
[*.{sh,bash}]
end_of_line = lf
indent_style = tab
indent_size = 4

# Make files
[Makefile]
indent_style = tab
indent_size = 4

# Docker files
[Dockerfile*]
indent_size = 4

# Git commit messages
[.git/COMMIT_EDITMSG]
max_line_length = 72

# Configuration files
[*.{conf,config,ini}]
indent_size = 4

# SQL files
[*.sql]
indent_size = 4
max_line_length = 120

# HTML files
[*.{html,htm}]
indent_size = 2
max_line_length = 120

# CSS/SCSS files
[*.{css,scss,sass}]
indent_size = 2
max_line_length = 120

# XML files
[*.xml]
indent_size = 2
max_line_length = 120

# Properties files
[*.properties]
indent_style = space
indent_size = 4

# Gradle files
[*.gradle]
indent_size = 4

# Kotlin files
[*.kt]
indent_size = 4
max_line_length = 120

# Swift files
[*.swift]
indent_size = 4
max_line_length = 120

# Go files
[*.go]
indent_size = 4
max_line_length = 120

# Rust files
[*.rs]
indent_size = 4
max_line_length = 120

# C/C++ files
[*.{c,cpp,h,hpp}]
indent_size = 4
max_line_length = 120

# Java files
[*.java]
indent_size = 4
max_line_length = 120

# Ruby files
[*.rb]
indent_size = 2
max_line_length = 120

# PHP files
[*.php]
indent_size = 4
max_line_length = 120

# R files
[*.r]
indent_size = 2
max_line_length = 120

# Julia files
[*.jl]
indent_size = 4
max_line_length = 120

# LaTeX files
[*.{tex,latex}]
indent_size = 2
max_line_length = 120

# BibTeX files
[*.bib]
indent_size = 2
max_line_length = 120

# TOML files
[*.toml]
indent_size = 4

# Lock files (should not be edited manually)
[*lock*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Generated files
[*.{min.js,min.css}]
indent_style = ignore
trim_trailing_whitespace = ignore

# Binary files
[*.{png,jpg,jpeg,gif,ico,svg,pdf,zip,tar,gz,bz2,xz,7z,rar}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

# Documentation files
[docs/**/*]
max_line_length = 120

# Test files
[test/**/*]
max_line_length = 120

# Example files
[example/**/*]
max_line_length = 120

# Tool files
[tools/**/*]
max_line_length = 120

# Build files
[build/**/*]
max_line_length = 120

# Cache files
[*.cache]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

# Log files
[*.log]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = false
indent_style = ignore
indent_size = ignore

# Temporary files
[*.tmp]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = false
indent_style = ignore
indent_size = ignore

# Backup files
[*~]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = ignore
indent_size = ignore

# Swap files
[*.swp]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

# Vim undo files
[*.un~]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
